// bouton
$gradient: linear-gradient(#FF79DA, #9356DC);
$gradient-hover: linear-gradient(#ff90e0, #a171db);

// ombrage
$boite-ombre-bouton: 5px 5px 5px #bebebe;
$boite-ombre:5px 2px 5px #dad8d8;

// couleur de fond
$background:#f5f5f4;

// couleur general
$white:white;
$violet:#9356DC;
$gris-n:rgb(46, 46, 46);

//vignet couleur nouveau

$vert-fond: rgb(155, 212, 195);
$vert-text: rgb(39, 145, 96);