footer{


   
    background-color: $gris-n;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;

    a{
        color:$white;
    }

    li{
        padding-bottom: 8px;
    }

    p{
        font-family: shrikhand;
        font-size: 20px;
        color: $white;
        padding-bottom: 10px; 
    }

    .fa-hands-helping{
        font-size: 14px;
    }

    .fa-utensils{
        font-size: 16px;
        padding-right: 6px;
           
    }

    
   
    
}





