.chargement{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 30px;

    position: fixed;
    animation: chargement 2s ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;

    .rotate{
        margin: 7px;
        animation: rotate 2s linear;
        color: $violet;
        

        .ck1{
            animation-delay: 1s;
        }
        .ck2{
            animation-delay: 1s;
        }
        .ck3{
            animation-delay: 1s;
        }


    }
    
}

@keyframes rotate {
    0% {
      visibility: visible;
      opacity: 1;
      transform: rotate(0);
    }
  
    70% {
      opacity: 1;
    }
  
    100% {
      transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }


@keyframes chargement {
    0% {
      visibility: visible;
      opacity: 3;
    }
  
    70% {
      opacity: 1.5;
    }
  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }