




.haut{
    position: relative;
    
    .banniere img{
        width: 100%;
        object-fit:contain; 
        z-index: 8;
    }
}

.restaurant-nom{
    margin-top: -70px;
    font-family: 'Shrikhand'; 
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    background-color: $background;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    z-index: 1;
    position: relative;
    @include heart-anime;

    h1{
        font-size: 30px;
    }

    .far{
        font-size: 25px;
    }
    .fa-lg{
        font-size: 1.55em;
        line-height: 1em;
    }
}

.menu{
    background-color:$background ;
    padding-left: 20px;
    padding-bottom: 20px;

    h2{
        font-size: 20px;
        font-weight: normal;
        
    }
    em{
        text-decoration: underline rgb(167, 231, 204)  ;
        text-decoration-thickness: 3px;
        font-style:normal;
        text-underline-position: under;

    }

    .boite__menu{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: $boite-ombre;
        
        
        @include validation-animation;

        .boite__item{
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
         
        

        h3{
            padding-bottom: 5px;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            
        }

        .boite__prix{
            font-weight: bold;
            
            
            
        }

        p{
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .reservation__bouton--botton{
        padding-left:50px;
        padding-right: 50px;
        font-weight: normal;
    }
    
}


 
